.online-container {
    width: 80%;
    margin: 0 auto;
}

.div1 {
    display: flex;
    flex-direction: column;
    margin-right: 20px;

}

.div2 {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-left: 100px;
    margin-top: 50px;
}

.text-heading {
    font-weight: bold;
    font-size: 30px;
}

.color-text {
    color: rgb(230, 198, 19);
}

.form-1 {
    margin-bottom: 20px;
}


.forms-container .form-container .input-field {
    display: grid;
}

.form-container .input-field label {
    font-size: 13px;
}

.form-container .input-field textarea,
.form-container .input-field input,
.form-container .input-field select {
    padding: 8px;
    margin: 5px 0 5px 0;
    border-radius: 5px;
    border: 1px solid grey;
}

.app-btn {
    padding: 10px;
    background: rgb(230, 198, 19);
    width: 15%;
    text-align: center;
    margin: 10px 0 10px 0;
    box-shadow: 1px 1px 1px #333333;
    border-radius: 5px;
    cursor: pointer;
}

.app-btn:hover {
    background-color: #333333;
    color: #ffffff;
}

.results-message,
.result-message {
    color: red;
}

.online-container .a {
    color: red !important;
    text-decoration: none !important;
}

.online-container a:hover {
    color: #000000 !important;
    text-decoration: underline !important;
}


.forms-container,
.onlinetext-content {
    width: 45%;
}

.online-text {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.areas-content,
.types-content,
.dimensions {
    display: none;
}